@media screen and (max-width:992px) {
    
.desktop{
    display: none;
}

.mobile{
    display: flex;
}

.explore{
    justify-content: center;
    width: 100%;
}

.aboutus-div{
    width: 100%;
}


.footer-section{
    flex-direction: column;
    padding: 10px 0;
}




}